@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'misans';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/fonts/MiSans_Latin_VF.ttf) format('woftruetypef2');
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: #888 #eee;
  scroll-behavior: smooth;
}